*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background:#75BBD3;
}
p{
    font-size: 20px;
    text-align: justify;
    margin: 50px;
}
h1{
    font-size: 40px;
    margin: 50px;
}
