*{
    box-sizing: border-box;
}
body{
    background: rgb(174, 230, 249);
    margin: 0;
    padding: 0;
}
.img{
    width: 20%;
    height: 20%;
}
.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
.column{
    width: 20%;
    height: 20%;
}
.column img{
    margin-top: 10px;
    width: 20%;
    height: 20%;
}
@media(max-width: 800px){
    .column{
        flex:50%;
        width: 20%;
    height: 20%;
    }
}